cat << EOF > ~/.gitconfig
[user]
  name = Chris Allen
  email = chris@chrisallen.us
[core]
  editor = nvim
[alias]
  co = checkout
  st = status
  ci = commit
  br = branch
[init]
  defaultBranch = main
EOF

